.content-block {
  flex: 1;
  padding: 0 3rem;
  background-color: $light-gray;

  h2 {
    height: 9rem;
    padding-bottom: 3rem;
  }

  .text-content {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

body {
  padding: 2rem;
}

header {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .spacer {
    flex: 1;
  }
}

.art-block {
  padding: 0 3rem;
  background-repeat: repeat;
  background-size: 18rem 18rem;
  position: relative;

  &.green-strip {
    width: 18rem;
    background-image: url('/img/light-green-grid.svg');
    background-position: top right;
  }

  &.blue {
    background-image: url('/img/light-blue-grid.svg');
    background-position: top right;
    min-height: 30rem;
  }

  &.hero {
    background-image: url('/img/color-grid.svg');
    background-position: bottom left;
  }

  &.grow {
    flex: 1;
  }

  img {
    position: absolute;

    &.horizontal {
      left: 6rem;
      bottom: 6rem;
      height: 18rem;
    }

    &.vertical {
      left: 6rem;
      top: 0;
      width: 18rem;
    }
  }
}

.team-list {
  margin: 0 -3rem;
  padding: 3rem 0 0;
  position: relative;
  z-index: 2;

  .team-member {
    display: flex;
    // min-height: 18rem;

    h3 {
      margin: 0.5rem 0;
    }

    .image-wrapper {
      height: 12rem;
      width: 12rem;
      position: relative;
      flex-shrink: 0;
    }

    .text {
      padding: 0 3rem 6rem;
    }

    &:nth-child(odd) {
      transform: translateX(-6rem);
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      transform: translateX(6rem);
    }

    img {
      width: 100%;
      display: block;
    }
  }
}

.button {
  background-color: $dark-green;
  padding: 0.5rem 1.5rem;
  display: block;
  max-width: 18rem;
  text-align: center;
  margin: 0 auto 3rem;
  color: $off-white;
  transition: 0.3s ease opacity;

  &:hover {
    opacity: 0.8;
    color: $off-white;
  }
}

.footer {
  text-align: center;

  .content-block {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 76rem) {
  .art-block {
    &.green-strip {
      width: 12rem;
    }
  }
}

@media screen and (max-width: 64rem) {
  .art-block {
    img.horizontal {
      left: 0;
    }

    &.green-strip {
      width: 6rem;
    }
  }
}

@media screen and (max-width: 58rem) {
  header {
    min-height: 0;

    h1 {
      padding: 3rem 0;
    }
  }

  body {
    padding: 1.5rem;
  }

  .content-block {
    padding: 0 1.5rem;
    h2 {
      text-align: left;
    }
  }

  .art-block {
    display: block;
    overflow: hidden;

    img {
      &.horizontal {
        right: 18rem;
        transform: translateX(100%);
        top: 0;
        bottom: auto;
        left: auto;
        height: 12rem;
      }

      &.vertical {
        left: 6rem;
        width:12rem;
      }
    }

    &.blue {
      height: 18rem;
      width: 100%;
      min-height: 0;
    }

    &.hero {
      height: 12rem;
      width: 100%;
      min-height: 0;
    }

    &.green-strip:last-child {
      display: none;
    }

    &.green-strip:first-child {
      width: 12rem;
    }
  }

  .team-list {
    margin: 0 -1.5rem;

    .team-member {
      margin-left: -12rem;

      .text {
        padding: 0 1.5rem 3rem;
      }

      &:nth-child(even), &:nth-child(odd) {
        flex-direction: row;
        transform: translateX(0rem);
      }
    }
  }
}

@media screen and (max-width: 40rem) {
  .team-list {
    .team-member {
      margin-left: -6rem;

      .image-wrapper {
        width: 6rem;
        height: 6rem;
      }
    }
  }

  .art-block {
    &.green-strip:first-child {
      width: 6rem;
    }
  }
}
