html, body {
  background-color: $light-red;
  color: $dark-green;
  font-family: $sans;
  font-size: 16px;
  font-weight: $regular;
  height: 100%;
  line-height: 1.5;
  position: relative;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
