{{#extend "base"}}
{{#content "main" mode="prepend"}}
<ul class="backgrounds">
    <li class="background-agtech-hero" id="background-agtech-hero"></li>
    <li class="background-agtech-team" id="background-agtech-team"></li>
    <li class="background-agtech-footer" id="background-agtech-footer"></li>
</ul>
<ul class="sections" id="sections">
    <li class="animated-section section-agtech-hero" data-section-id="agtech-hero">
        <nav>
            <div class="content">
                <ul class="nav-items">
                    <li class="nav-item logo">
                        {{> "svg/interact-logo.svg" }}
                    </li>
                    <li class="spacer"></li>
                    <li class="nav-item">
                        <a href="mailto:agtech@joininteract.com">Get in touch</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="blocks">
                <div class="content-block">
                    <header>
                        <h1>Exploring the intersection of agriculture and technology.</h1>
                        <p>Research grant funded by <a href="https://joininteract.com">Interact</a>, a nonprofit fellowship.</p>
                    </header>
                </div>
                <div class="companion-block">
                    <i style="background-image:url('/img/cows.jpg')"></i>
                </div>
            </div>
        </div>
    </li>
    <li class="animated-section section-agtech-team" data-section-id="agtech-team">
        <div class="content">
            <h2>Members</h2>
            <ul class="team-list">
                {{#each team}}
                    <li class="team-member">
                        <div class="image-wrapper">
                            <img src="{{ this.profile }}" />
                        </div>
                        <h3>{{ this.name }}</h3>
                    </li>
                {{/each}}
            </ul>
        </div>
    </li>
    <li class="animated-section section-agtech-footer" data-section-id="agtech-footer">
        <div class="content">
            <h2>Get in touch</h2>
            <a class="button" href="mailto:agtech@joininteract.com">agtech@joininteract.com</a>
        </div>
        <footer>
            <div class="content">
                <p>&copy; 2020 Interact</p>
            </div>
        </footer>
    </li>
</ul>
<script src="/js/sections.js"></script>
<script>
    var sections = new Sections({
        mobileWidth: 1024,
    }).enable();
</script>
{{/content}}
{{/extend}}
